@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

*{
    font-family: "Montserrat", sans-serif;

}
body, html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    background: #343633;
}

.menu-nav a{
    display: inline-block;
    color: #7D70BA;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: bold ;
}
.menu-nav a:hover{
    display: inline-block;
    color: #5cc8ff;
    padding: 10px 30px;
    text-decoration: none;
    transition: 0.5s;
}


.fa-user-edit{
    color: #FEF086;
    width:2em;
}

.fa-user-edit:hover{
    color: #FDE10D;
}

.fa-user-alt-slash{
    color: #CE6664;
}

.fa-user-alt-slash:hover{
    color: #C3423F;

}

/* ----------- CSS view-venta.php ---------------- */

.box{
    padding: 1em;
    width: 500px;
    height: 200px;
    margin: 0 auto;
    justify-content: center;    
    text-align: center;
}

.box h1{
    text-align: center;
    color: #5cc8ff;
}

.box-inter{
    border-radius: 20px;
    border: 1px solid #7D70BA;
}

.box-inter p{
    color: white;
}
.box-inter span{
    font-weight: bold;
}

.button-back{
    text-align: center;
    background: #7D70BA;
    color: white;
    border-radius: 20px;
    height: 100px;
    text-decoration: none;
    padding: 1em;
    border: none;
}

.button-back:hover{
    text-align: center;
    background: #5cc8ff;
    color: white;
    border-radius: 20px;
    height: 100px;
    text-decoration: none;
    padding: 1em;
    border: none;
    transition: 1s;
}